<div id="game-wrapper">
    <div id="board-one-wrapper">
        <div class="row-tiles" *ngFor="let rowTiles of game.getBoard1().getTiles()" [class.disabled]="playerOneFlag">
            <div *ngFor="let tile of rowTiles" class="game-tiles" id={{tile.getId()}} (click)="onClickTile(tile)"
                [class.hit-tile]="tile.hasShip() && tile.isUsed()"
                [class.missed-tile]="!tile.hasShip() && tile.isUsed()" [class.disabled]="tile.isUsed()" 
                [class.pre-ship-drop]="tile.getPreHasShipFlag()" [class.has-ship]="tile.hasShip()" 
                [class.tile-ship-droppable]="!tile.isShipDroppable()"
                (drop)="onDrop($event, tile)" (dragleave)="onDragLeave($event, tile)" (dragover)="onDragOver($event, tile)">
                {{tile.getId()}}
            </div>
        </div>
    </div>
    <div class="vertical-line"></div>
    <div id="board-two-wrapper">
        <div class="row-tiles" *ngFor="let rowTiles of game.getBoard2().getTiles()" [class.disabled]="playerTwoFlag">
            <div *ngFor="let tile of rowTiles" class="game-tiles" id={{tile.getId()}} (click)="onClickTile(tile)"
                [class.hit-tile]="tile.hasShip() && tile.isUsed()"
                [class.missed-tile]="!tile.hasShip() && tile.isUsed()" [class.disabled]="tile.isUsed()">
                {{tile.getId()}}
            </div>
        </div>
    </div>
    <div class="vertical-line"></div>
    <div id="ships-wrapper">
        <ng-container *ngFor="let s of ships">
            <div *ngIf="s.getNotOnBoardFlag()" class="ship" [id]="'ship-' + s.getName()" [style.width.px]="50 * s.getLength()" [draggable]="'true'"
                (dragstart)="onDragStart(s)">
            </div>
        </ng-container>
    </div>
    <button (click)="start()" [disabled]="numShipsNotOnBoard != 0">Start</button>
</div>