#game-wrapper {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

#board-wrapper {
    display: flex;
    flex-direction: row;
}

.vertical-line {
    margin: 10px;
}

.row-tiles {
    display: flex;
    flex-direction: row;
}

.game-tiles {
    border-width: 1px;
    border-style: solid;
    border-color: black;

    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;    
}

.disabled .game-tiles {
    color: gray;
    border-color: gray;
}

.disabled {
    pointer-events: none;
}

.ship {
    height: 50px;
    width: 50px;
    border: 1px solid red;
    margin: 2px;
}

.neighbor-tile {
    background-color:blueviolet;
}

.has-ship {
    background-color: green;
}

.pre-ship-drop {
    background-color: blue;
}

.tile-ship-not-droppable {
    background-color: red;
}

.hit-tile {
    color: red !important;
}

.missed-tile {
    color: black !important;
}

.board-name {
    font-size: 1.5em;
    padding-bottom: 15px;
    text-align: center;
}

#turn-message {
    padding-top: 15px;
    text-align: center;
    font-size: 1.3em;
}

